.wrapper {
    width: 50vh;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.8); /* 백그라운드만 0.8 투명도 */
    border-radius: 7px;
    box-shadow: 0 12px 24px rgba(0,0,0,0.2), 0 8px 12px rgba(0,0,0,0.1);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,0.8);
}

.wrapper:hover{
    box-shadow: 0 30px 45px rgba(0,0,0,0.25), 0 15px 20px rgba(0,0,0,0.15);
    background-color: rgba(255, 255, 255, 0.95); /* hover 시 백그라운드만 0.9 */
    color: rgba(0,0,0,1);
}

.head {
    margin-bottom: 15px;
}
